body {
  background-color: #D9F0FB;
  margin-right: 0;
  font-family: lucida;
}

.nav{
  background-color: lavender;
  overflow: hidden;
  max-width: 100%;
}

.header{
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.heart{
  float:left;
}

.nav a{
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-family:monospace;
  font-size: 20px;
  text-align: center;
  width: 16%;
  
}
.nav.inset{
  border-style: inset;
}

.nav a:hover{
  background-color:#CCA4D0 ;
  color: white;
}

.positivity{
  border-radius:50%;
  margin-left:10px
}

/* stuff for gweAuthor
.nav a.active {
  background-color: white;
  color: black;
}*/

.row{
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after{
  content:"";
  display: table;
  clear:both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  border-style:ridge;
  border-color: black;
  border-width: 1px;
  text-align: center;
}

.container{
  padding: 16px 16px;
  display: block;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.title{
  color: black;
  font-family: arial;
}
