body {
  background-color: #B8D7E8;
}

.nav{
  background-color: lavender;
  overflow: hidden;
}

.nav a{
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
  background-color: black;
  color: white;
}

.nav a.active {
  background-color: white;
  color: black;
}

/* stuff for gweAuthor */
.nav a.active {
  background-color: white;
  color: black;
}

.column{
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px
}

@media screen and (max-width: 500px){
  .column{
    width: 100%;
    display: block;
  }
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container{
  padding: 16px 16px;
  display: block;
  color: white;
}

.container::after, .row::after{
  content: "";
  clear: both;
  display: table
}

.title{
  color: black;
  font-family: arial;
}

.button{
  border: none;
  outline: 1px;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: plum;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover{
  background-color: black;
  color: white;
}
