body {
  background-color: #B8D7E8;
}

.nav{
  background-color: lavender;
  overflow: hidden;
}

.nav a{
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
  background-color: black;
  color: white;
}

.nav a.active {
  background-color: white;
  color: black;
}

/* stuff for gweAuthor */
.row{
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after{
  content:"";
  display: table;
  clear:both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container{
  padding: 16px 16px;
  display: block;
  color: white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.title{
  color: black;
  font-family: arial;
}

.button{
  border-style: inset;
  border-color: lavender;
  border-width: 3px;
  outline: 1px;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: plum;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover{
  background-color: black;
  color: white;
}

